<% include partials/header %>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="">
    <form class="" action="/compose" method="post">
      <label>Title</label>
      <input type="text" name="postTitle" value="" class="form-control">
      <label>Post</label>
      <textarea name="postPost" class="form-control" rows="5"></textarea>
  </div>
  <br>
  <button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>
<% include partials/footer %>
